/* ColorPicker */
.cp div {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.cp div:hover {
    border: 1px solid #fff;
}

/* ColorStop */
.cs {
    height: 21px;
    position: absolute;
    width: 18px;
    cursor: pointer;
    background: url(../assets/color-stop.png) right center;
    background-size: cover;
    transition: transform 0.1s;
}

.cs:hover {
    transform: scale(1.15);
}

.cs div {
    height: 12px;
    left: 3px;
    width: 12px;
    position: absolute;
    top: 6px;
    border-radius: 2px;
}

.active {
    background-position: left center;
}

/* GradientStops */
.gp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gp .gp-flat {
    margin: 0 auto;
    padding: 10px 0 0 !important;
    box-shadow: none !important;
    transform: none !important;
}

.palette {
    border-radius: 3px;
    overflow: hidden;
}
